div
	div(style="padding: 10px; display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;")
		div(style = "width : 50%;")
			h5 #{title}
			br
			hr(style="border-color: rgb(0, 0, 0); margin: -16px 0px 10px;")
			table#tableHeader(style="width: 100%; border-spacing: 5px;")
				tbody
					tr
						td(width = "30%") TANGGAL AWAL
						td(width = '1%') : 
						td #{tgl_awal}
					tr
						td TANGGAL AKHIR
						td(width = '10%') :
						td #{tgl_akhir}

	.row
		div(class="col-lg-12 col-md-12 col-xs-12 col-sm-12")
			table(id = "tableContent" class="table table-scroll" style="width: 100%; border-spacing: 5px;")
				thead
					tr
						td(width="10%" style="border-bottom: 2px solid rgb(0, 0, 0);") 
							b NO
						td(style="border-bottom: 2px solid rgb(0, 0, 0);") 
							b TANGGAL
						td(style="border-bottom: 2px solid rgb(0, 0, 0);" align = 'center') 
							b JML ORDER
						td(style="border-bottom: 2px solid rgb(0, 0, 0);" align = 'center') 
							b JML JASA
						td(style="border-bottom: 2px solid rgb(0, 0, 0);" align = 'center') 
							b JML PLAT UTUH
						td(style="border-bottom: 2px solid rgb(0, 0, 0);" align = 'center') 
							b JML PLAT POTONGAN
						td(style="border-bottom: 2px solid rgb(0, 0, 0);" align = 'right') 
							b TOTAL HARGA
				tbody
					each d in data
						tr
							td(align = 'center') 
								b #{d.no}
							td #{d.tanggal}
							td(align = 'center') 
								span(class = 'badge bg-color-greenLight') #{d.total_order}
							td(align = 'center') 
								span(class = 'badge bg-color-greenLight') #{d.jml_jasa}
							td(align = 'center') 
								span(class = 'badge bg-color-greenLight') #{d.plat_utuh}
							td(align = 'center') 
								span(class = 'badge bg-color-greenLight') #{d.plat_potongan}
							td(align = 'right') 
								b #{d.total_harga}
				tfoot
					tr
					tr
						td(align = 'right' colspan = "2") 
							b TOTAL
						td(align = 'center')
							b #{totalOrder}
						td(align = 'center')
							b #{totalJasa}
						td(align = 'center')
							b #{totalUtuh}
						td(align = 'center')
							b #{totalPotongan}
						td(align = 'right')
							b #{total_harga}

