style.
    th, td {
        padding-top: 10px;
    }
- if (data && data.length > 0)
    each r, idx in data 
        div(style = "margin-left : 5pxl margin-right : 5px; margin-bottom : 10px;")
            div(style="padding: 10px; display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;")
                div(style = "flex : 1")
                    img(src = setting? "/uploads/"+setting.logo : "/logo.png" style = "object-fit : cover; height: 30%")
                    div(style = "display: flex; align-item: center;")
                        div(style="flex : 1;")
                        div(style="flex : 1;")
                            div(style = "display:flex;")
                                b(style = "flex: 1") No.
                                div(style = "border-bottom : 1px solid #000; width : 100%; flex : 5;") #{idx+1}
                    h5(style="font-weight: bold;") 
                        b(style = "text-decoration : underline;") INVOICE
                    table#tableLeft(style="width: 100%;")
                        tbody
                            tr(style = 'padding : 10px;')
                                td(width = "5%") NAMA
                                td(width = '1%') : 
                                td(style = "border-bottom:1px solid #000" width="15%") #{r.nama}
                            tr
                                td(width = "5%") TGL
                                td(width = '1%') : 
                                td(style = "border-bottom:1px solid #000" width="15%") #{r.billing_date}
                            tr
                                td(width = "5%") BULAN
                                td(width = '1%') : 
                                td(style = "border-bottom:1px solid #000" width="15%") #{r.periode}
                            tr
                                td(width = "5%") TOTAL
                                td(width = '1%') : 
                                td(style = "border-bottom:1px solid #000" width="15%") #{r.tagihan}
                
                div(style = "flex : 1; margin-left: 40px;")
                    //- img(src = "/uploads/logo.png" style = "object-fit : cover; height: 30%; margin-bottom : -35px;position : relative;")
                    //- h1(style="padding-left: 8pt;text-align: left;position : absolute;z-index:9999;")  Stay Connected With Others
                    img(src = setting? "/uploads/"+setting.logo : "/logo.png" style = "object-fit : cover; height: 30%; margin-bottom : -35px;")
                    div(style = "padding-left: 5pt; margin-top : 5px;")
                        b(style="text-align: left; font-size : 25px; font-weight: bold;")  Stay Connected With Others
                    div(style = "padding-left : 8pt; z-index:9999; ")
                        span #{setting?setting.alamat:''}
                        br
                        span Phone &amp; Whatsapp : #{setting?setting.telp:'-'}
                        br
                        span Email : #{setting?setting.email:''}
                        h5(style="font-weight: bold;") 
                            b(style = "text-decoration : underline;") INVOICE
                        div(style = "display:flex;")
                                b(style = "flex: 5") Tagihan Internet Periode :
                                div(style = "border-bottom : 1px solid #000; width : 100%; flex : 4;") #{r.periode}
                        br
                        div(style = "display:flex;")
                                b(style = "flex: 1") Total : 
                                div(style = "border-bottom : 1px solid #000; width : 100%; flex : 4;") #{r.tagihan}
                div(style = "flex : 1; margin-left : 40px; margin-top : 10px;")
                    div(style = "padding : 10px; border : 2px solid #000;")
                        div(style = "display : flex; align-item : center;")
                            b(style = "flex : 4;") Kepada
                            div(style = "border-bottom : 1px solid #000; width : 100%; flex : 3;") #{r.nama}
                        div(style = "display : flex; align-item : center;")
                            b(style = "flex : 4;") Nama Perusahaan
                            div(style = "border-bottom : 1px solid #000; width : 100%; flex : 3;") #{r.company_name}
                        div(style = "display : flex; align-item : center;")
                            b(style = "flex : 4;") Alamat
                            div(style = "border-bottom : 1px solid #000; width : 100%; flex : 3;") #{r.alamat}
                        div(style = "display : flex; align-item : center;")
                            b(style = "flex : 4;") No. Telp
                            div(style = "border-bottom : 1px solid #000; width : 100%; flex : 3;") #{r.telp}
                        div(style = "display : flex; align-item : center;")
                            b(style = "flex : 4;") Tgl
                            div(style = "border-bottom : 1px solid #000; width : 100%; flex : 3;") #{r.billing_date}

