style.
    th, td {
        padding-top: 10px;
    }
    
    .text {
        font-size : 10px;
    }

    .text-box {
        font-size : 13px;
    }
- if (data && data.length > 0)
    each r, idx in data 
        div(style = "margin-left : 5px; margin-right : 5px; margin-bottom : 10px;")
            div(style="padding: 10px; display: flex; flex-wrap: wrap; margin-right: 25px; margin-left: -15px;")
                div(style = "flex : 1")
                    if (setting.logo)
                        img(src = setting? "/uploads/"+setting.logo : "/logo.png" style = "object-fit : cover; height: 30px; margin-top : 10px;")
                    div(style = "display: flex; align-item: center;")
                        div(style="flex : 1;")
                        div(style="flex : 1;")
                            table(style="width: 80%;")
                                tr(style = 'padding : 10px;')
                                    td(width = "5%").text NO
                                    td(width = '1%').text : 
                                    td.text(style = "border-bottom:1px solid #000" width="10%") #{idx+1}
                            //- div(style = "display:flex;")
                                b.text(style = "flex: 1;") No.
                                div(style = "border-bottom : 1px solid #000; width : 100%; flex : 5;") #{idx+1}
                    b(style = "text-decoration : underline; font-weight: bold;").text NOTA
                    table(style="width: 90%;")
                        tbody
                            tr(style = 'padding : 10px;')
                                td(width = "5%").text NAMA
                                td(width = '1%').text : 
                                td.text(style = "border-bottom:1px solid #000" width="10%") #{r.nama}
                            tr
                                td(width = "5%").text TGL
                                td(width = '1%').text : 
                                td(style = "border-bottom:1px solid #000" width="10%").text #{r.billing_date}
                            tr
                                td(width = "5%").text BULAN
                                td(width = '1%').text : 
                                td(style = "border-bottom:1px solid #000" width="10%").text #{r.periode}
                            tr
                                td(width = "5%").text TOTAL
                                td(width = '1%').text : 
                                td(style = "border-bottom:1px solid #000" width="10%").text #{r.tagihan}
                
                div(style = "flex : 2; margin-left: 40px;")
                    if (setting.logo)
                        img(src = setting? "/uploads/"+setting.logo : "/logo.png" style = "object-fit : cover; height: 30px; margin-top : 10px;")
                    div(style = "display : flex; flex-wrap: wrap; margin-top : 10px;")
                        div(style = "flex : 1;")
                            b(style = "text-decoration : underline; font-weight: bold;").text NOTA
                            div(style = "display:flex; margin-top : 10px;")
                                table(style="width: 100%;")
                                    tbody
                                        tr(style = 'padding : 10px;')
                                            td(width = "15%").text Layanan Internet Periode 
                                            td(width = '1%').text : 
                                            td.text(style = "border-bottom:1px solid #000" width="15%") #{r.periode}
                                        tr(style = 'padding : 10px;')
                                            td(width = "5%").text Total 
                                            td(width = '1%').text : 
                                            td.text(style = "border-bottom:1px solid #000" width="15%") #{r.tagihan}
                                //- b(style = "flex: 5; font-weight:bold;").text Tagihan Internet Periode :
                                //- div(style = "border-bottom : 1px solid #000; width : 100%; flex : 4;").text #{r.periode}
                            //- br
                            //- div(style = "display:flex;")
                                b(style = "flex: 1").text Total : 
                                div(style = "border-bottom : 1px solid #000; width : 100%; flex : 4;").text #{r.tagihan}
                        div(style = "flex : 1; margin-left : 10px;")
                            div(style = "padding : 10px; border : 2px solid #000;")
                                div(style = "display : flex; align-item : center;")
                                    b(style = "flex : 3;").text-box Kepada
                                    div(style = "border-bottom : 1px solid #000; width : 100%; flex : 4; font-size : 18px;") #{r.nama}
                                div(style = "display : flex; align-item : center;")
                                    b(style = "flex : 3;").text-box Perusahaan
                                    div(style = "border-bottom : 1px solid #000; width : 100%; flex : 4; font-size : 18px;") #{r.company_name}
                                div(style = "display : flex; align-item : center;")
                                    b(style = "flex : 3;").text-box Alamat
                                    div(style = "border-bottom : 1px solid #000; width : 100%; flex : 4;font-size : 18px;") #{r.alamat}
                                div(style = "display : flex; align-item : center;")
                                    b(style = "flex : 3;").text-box No. Telp
                                    div(style = "border-bottom : 1px solid #000; width : 100%; flex : 4; font-size : 18px;") #{r.telp}
                                div(style = "display : flex; align-item : center;")
                                    b(style = "flex : 3;").text-box Tgl
                                    div(style = "border-bottom : 1px solid #000; width : 100%; flex : 4; font-size : 18px;") #{r.billing_date}

