include ../../partials/component.pug
div.row
    article.col-md-12#cardList
        div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
            header
                span.widget-icon
                    i.fa.fa-users
                h2 DAFTAR PELANGGAN
            div
                div(class = "jarviswidget-editbox")
                div(class = "widget-body no-padding")
                    div.col-lg-12(style="padding:10px;background-color:#eee;")
                        div(class = 'col-lg-2 col-sm-2 col-xs-2')
                            select.form-control#fStsCustomer
                                option(value="all") Status 
                                option(value="0") Aktif
                                option(value="1") Tidak Aktif 
                        div(class = 'col-lg-2 col-sm-2 col-xs-2')
                            input#fTglAwal(class = 'form-control datepicker' data-dateformat = "yy-mm-dd" placeholder = 'Tanggal')
                        div(class = 'col-lg-2 col-sm-2 col-xs-2')
                            input.form-control#searchName(type="text" placeholder ="Pencarian By Nama")
                        - if (isAdmin)
                            div(class = 'col-lg-2 col-sm-2 col-xs-2')
                                select.form-control#fKolektor
                                    option(value="all") Pilih Kolektor
                                    each k in kolektor 
                                        option(value=k._id) #{k.nama} 
                        div(class = 'col-lg-4 col-sm-4 col-xs-4')
                            button#searchRekapProd(class = 'btn btn-default pull-left' data-original-title = 'Pencarian' data-placement="bottom" rel="tooltip")
                                i(class="fa fa-fw fa-search")
                            button(class = 'btn btn-default pull-left' data-original-title = 'Tambah Pelanggan' data-placement="bottom" rel="tooltip" style = 'margin-left : 5px;' onClick = 'return addData();')
                                i(class="fa fa-fw fa-plus")
                            button(class = 'btn btn-default pull-left' data-original-title = 'Reset & Refresh' data-placement="bottom" rel="tooltip" style = 'margin-left : 5px;' onclick = "return refreshData();")
                                i(class="fa fa-fw fa-refresh")
                            button#printTable(class = 'btn btn-default pull-left' data-original-title = 'Cetak Semua' data-placement="bottom" rel="tooltip" style = 'margin-left : 5px;')
                                i(class="fa fa-fw fa-print")
                            button#selectAll(class = 'btn btn-default pull-left' data-original-title = 'Pilih Semua' data-placement="bottom" rel="tooltip" style = 'margin-left : 5px;' onClick="SelectAll()")
                                i(class="fa fa-fw fa-check")
                        div(class = 'col-lg-4 col-sm-4 col-xs-4' style="margin-top:10px").pull-right
                            button#splitPrint(class = 'btn btn-primary pull-right' data-original-title = 'Cetak Sebagian' data-placement="bottom" rel="tooltip" style = 'margin-left : 5px;') Cetak Sebagian
                            button#editTagihan(class = 'btn btn-primary pull-right' data-original-title = 'Edit Tagihan' data-placement="bottom" rel="tooltip" style = 'margin-left : 5px;') Edit Tagihan
                            button#editKolektor(class = 'btn btn-primary pull-right' data-original-title = 'Edit Kolektor' data-placement="bottom" rel="tooltip" style = 'margin-left : 5px;') Edit Kolektor
                    table(id = "customerTable" class = "table table-striped table-bordered table-hover" width = "100%")
                        thead
                            tr
                                th 
                                th Action
                                th Pelanggan
                                //- th Perusahaan
                                th Alamat
                                th Tagihan
                                th(data-hide = 'phone,tablet') Tanggal Tagihan
                                th 
                                    center Status
                                - if (isAdmin)
                                    th 
                                        center Kolektor
    
    article.col-md-5(style="display: none;" data-action="edit")#formEditable
    article.col-md-5(style="display: none;" data-action="edit")#formEditPic
        div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
            header(role = 'heading')
                div.jarviswidget-ctrls
                    a(class = 'button-icon jarviswidget-toggle-btn' href = 'javascript:void(0);' rel = 'tooltip' data-placement = 'bottom' data-original-title = 'Tutup' onclick="return closeForm('#formEditTag');")#btnCloseForm
                        i.fa.fa-times
                span.widget-icon
                    i.fa.fa-pencil
                h2 Update Kolektor
            div
                div.jarviswidget-editbox
                div(class='widget-body no-padding')
                    form.form-horizontal
                        div.form-group
                            input#userId(type="hidden", name="_id").form-control
                        div.form-group
                            label(for = "inputNewTag").control-label.col-lg-3 Kolektor
                            div.col-lg-7
                                select.form-control#listKolektor
                                    option(value="") Pilih Kolektor
                        div.form-group
                            div.col-lg-7.col-lg-offset-3
                                button#submitKolektor(type="submit" class="btn btn-sm btn-primary")
                                    i.icon-save
                                    span  Simpan
                                button#batal(type="button" onclick="return closeForm('#formEditPic');" style="margin-left : 10px;" class="btn btn-outline-danger btn-sm")
                                    span Batal

    article.col-md-5(style="display: none;" data-action="edit")#formEditTag
        div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
            header(role = 'heading')
                div.jarviswidget-ctrls
                    a(class = 'button-icon jarviswidget-toggle-btn' href = 'javascript:void(0);' rel = 'tooltip' data-placement = 'bottom' data-original-title = 'Tutup' onclick="return closeForm('#formEditTag');")#btnCloseForm
                        i.fa.fa-times
                span.widget-icon
                    i.fa.fa-pencil
                h2 Update Tagihan
            div
                div.jarviswidget-editbox
                div(class='widget-body no-padding')
                    form.form-horizontal
                        div.form-group
                            input#userId(type="hidden", name="_id").form-control
                        div.form-group
                            label(for = "inputNewTag").control-label.col-lg-3 Tagihan
                            div.col-lg-7
                                input.form-control#newTag(type="text")
                        div.form-group
                            div.col-lg-7.col-lg-offset-3
                                button#submitTag(type="submit" class="btn btn-sm btn-primary")
                                    i.icon-save
                                    span  Simpan
                                button#batal(type="button" onclick="return closeForm('#formEditTag');" style="margin-left : 10px;" class="btn btn-outline-danger btn-sm")
                                    span Batal

    //- IFRAME CONTENT PRIVIEW
    iframe(id = "ifmcontentstoprint" style="height: 0px; width: 0px; position: absolute;")
script.
    pageSetUp();
    const isAdmin = "#{isAdmin}"
    const selectorTable = "#customerTable"
    var tableCustomer
    var multiTag = false
    var multiKol = false
    var printSplit=false
    var selected = []

    function closeForm(selector) {
        $(selector).slideUp(200, function() {
        $('#reset').click()
        $("#cardList").removeClass("col-md-7").addClass("col-md-12");
            refreshData();
        });
    }

    function refreshData () {
        //- tableCustomer.ajax.reload(null, false);
        //- $('#fTglAwal').val('')
        //- $('#fStsCustomer').val('all');
        //- $('#searchName').val('')
        //- $('#fKolektor').val('all')
        //- $('#searchRekapProd').click()
        tableCustomer.ajax.reload(null, false);
        selected = []
    }

    function addData () {
        $("#formEditTag").fadeOut();
        $('#formEditPic').fadeOut();
        $("#cardList").removeClass("col-md-12").addClass("col-md-7");
        $("#formEditable").attr("data-action", "add").fadeIn(200);
        $("#formEditable").load('/customer/createForm/add');
        refreshData();
    }

    function getData (id) {
        $("#formEditTag").fadeOut();
        $('#formEditPic').fadeOut();
        $("#cardList").removeClass("col-md-12").addClass("col-md-7")
        $("#formEditable").attr("data-action", "edit").fadeIn(200)
        $("#formEditable").load(`/customer/createForm/edit?id=${id}`);
        refreshData();
    }

    function removeData (id) {
        var c = confirm('Are you sure want to delete this data ?')
        if (c) {
            $.ajax({
                url: '/customer/remove',
                method: 'POST',
                header: {
                    'Content-Type' : 'application/json'
                },
                data: {
                    id : id
                },
                success : function (msg) {
                    refreshData();
                    if (msg.status == 200) {
                        $.smallBox({
                            title: 'Success',
                            content : "<i class='fa fa-clock-o'></i> <i>Successfull</i>",
                            color : "#659265",
                            iconSmall : "fa fa-check fa-1x fadeInRight animated",
                            timeout : 1000
                        });
                    } else {
                        $.smallBox({
                            title : "Peringatan",
                            content : `<i class='fa fa-clock-o'></i>${msg.message}<i></i>`,
                            color : "#C46A69",
                            iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                            timeout : 1000
                        });
                    }
                },
                error : function (xhr, ajaxOptions, thrownError) {
                    $.smallBox({
                        title : "Peringatan",
                        content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
                        color : "#C46A69",
                        iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                        timeout : 1000
                    });
                },
            })
        }
    }

    //- Edit single tagihan
    function updateTag(id, tagihan) {
        var tag = tagihan || 0
        $("#formEditable").fadeOut();
        $('#formEditPic').fadeOut();
        $("#cardList").removeClass("col-md-12").addClass("col-md-7")
        $('#formEditTag button#submitTag').attr('data-id', id)
        $('#formEditTag input#newTag').val(tag)
        $("#formEditTag").fadeIn(200)
        $('#newTag').focus()
        refreshData();
    }

    function viewPic(customerId, userId) {
        $.ajax({
            url: '/customer/kolektor',
            method: 'POST',
            header: {
                'Content-Type' : 'application/json'
            },
            success : function (items) {
                let elmKolektor = '<option value="">Pilih Kolektor</option>'
                items.map(key=> {
                    if (key._id.toString()===userId.toString()) {
                        elmKolektor+= `<option selected value='${key._id}'>${key.nama}</option>`
                    }
                    else {
                        elmKolektor+= `<option value='${key._id}'>${key.nama}</option>`
                    }
                })

                $('#listKolektor').html(elmKolektor)
                $("#formEditable").fadeOut();
                $('#formEditTag').fadeOut();
                $("#cardList").removeClass("col-md-12").addClass("col-md-7")
                $('#formEditPic button#submitKolektor').attr('data-id', customerId)
                $("#formEditPic").fadeIn(200)
                refreshData();
            }
        })
    }

    function closeModal() {
        $('#modalBig').modal('hide')
        refreshData()
        printSplit=false
    }

    function SelectAll () {
        //- selected = [];
        $('table'+selectorTable+' tbody > tr').each(function (){
            var id = $(this).find("input[name='checkbox']").attr('data-id');
            $('input[type="checkbox"]').prop('checked',true);
            selected.push(id);
        });
    }

    /*
        PREVIEW STRUK
    */
    async function printPriview() {
        console.log('PRINT PREVIEW')
        let content = document.getElementById("contentView")

        //- / Create window object and print the data.
        let  newWin = window.open('', '', '');
        newWin.document.write(`<html><head><title>${document.title}</title>`)
        newWin.document.write(`
            <style>
                * {
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                }
                body {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    background-color: #FAFAFA;
                    font-family: sans-serif !important;
                }
                th, td {
                    padding-top: 10px;
                }
                .page {
                    width: 100%;
                    height: 8cm;
                    margin:10px;
                    background: white;
                }
                .subpage {
                    height: 8cm;
                    padding : 10px;
                }
                .text {
                    font-size : 13px !important;
                    font-weight: bold !important;
                }
                .text-bold {
                    font-size : 18px !important;
                    font-weight: bold !important;
                }
                .text-box{
                    font-size : 18px !important;
                    font-weight:bold !important;
                }
                .text-nota {
                    font-size : 18px !important;
                }
                @page {
                    size: auto;
                    margin: 0mm;
                }
                @media print {
                    html, body {
                        width: 100%;
                        margin : 0;
                        padding: 0;
                        font-family: sans-serif !important;
                    }
                    .page {
                        width: 100%;
                        height: 8cm;
                        background: white;
                        margin:10px;
                        break-before: always;
                    }
                    .subpage {
                        padding : 10px;
                    }
                    .text {
                        font-size : 13px !important;
                        font-weight: bold !important;
                    }
                    .text-bold {
                        font-size : 18px !important;
                        font-weight: bold !important;
                    }
                    .text-box{
                        font-size : 18px !important;
                        font-weight:bold !important;
                    }
                    .text-nota {
                        font-size : 18px !important;
                    }
                }
            </style>
        `)
        newWin.document.write(content.innerHTML);
        newWin.document.write('</html>')
        await new Promise(r => setTimeout(r, 500));
        newWin.print();
        newWin.close();
        return false;
    }

    function chooseColumn(selector, id) {
        var index = $.inArray(id , selected)
        var data_cheked = $('table'+selectorTable+' tbody tr.single');
        var id_cheked = data_cheked.eq(0).find('#centang').attr('data-id');
        var index_cheked = $.inArray(id_cheked , selected);
        data_cheked.removeClass('selected')
        var cek = $('table'+selectorTable+' tbody tr').hasClass('single')
        if (cek == true && id != id_cheked) {
            selected.splice(index_cheked, 1);
        }

        if (index === -1 ){
            selected.push(id);
        } else if (id != id_cheked) {
            selected.splice(index , 1);
        }
        $('table'+selectorTable+' tr[data-id="'+id+'"]').toggleClass('selected');
        if (id_cheked != undefined && id == id_cheked)
            $('table'+selectorTable+' tr[data-id="'+id+'"]').addClass('selected');
        $('table'+selectorTable+' tr').removeClass('single');
    }

    $(function () {
        const columns = [
            {
                "data":"_id"
            },{
                "data" : "action",
            },{
                "data" : "customer"
            },{
                "data" : "alamat"
            },{
                "data" : "tagihan"
            },{
                "data" : "billing_date"
            },{
                "data" : "status"
            }
        ]
        //- const columnDefs= [
        //-     { width: "10%", targets: 0 },
        //-     { width: "20%", targets: 1 },
        //-     { width: "20%", targets: 2 },
        //-     { width: "15%", targets: 3 },
        //-     { width: "10%", targets: 4 },
        //-     { width: "10%", targets: 5 },
        //- ]
        const columnDefs = [
            { 
                width: "5%", 
                targets: 0,
                render: function (data, type, row) {
                    let elmtCheck
                    var index = $.inArray(data , selected)
                    if (index===-1) {
                        elmtCheck = `
                            <input type='checkbox' name='checkbox' 
                                id='centang'
                                onClick='chooseColumn(this,"${data.toString()}")' 
                                data-id='${data}'/>
                        `
                    } 
                    else {
                        elmtCheck = `
                            <input type='checkbox' name='checkbox' 
                                id='centang'
                                checked
                                onClick='chooseColumn(this,"${data.toString()}")' 
                                data-id='${data}'/>
                        `
                    }
                    return `
                        <center>
                            <div class='checkbox'>
                                <label>
                                    ${elmtCheck}
                                </label>
                            </div>
                        </center>
                    `
                }
            },
            { width: "10%", targets: 1 },
            { width: "20%", targets: 2 },
            { width: "20%", targets: 3 },
            { width: "20%", targets: 4 },
            { width: "20%", targets: 5 },
            { width: "40%", targets: 6 },
            { width: "40%", targets: 7 },
        ]

        if (isAdmin==="true") {
            columns.push({data:'kolektor'})
            columnDefs.push({width:"35%", targets:6})
        }

        $('.datepicker').datepicker({
            defaultDate : new Date(),
            dateFormat : 'yy-mm-dd'
        });

        //- Edit multi tagihan
        $('#editTagihan').click(function (e){
            e.preventDefault()
            //- console.log({selected})
            multiTag=true
            $("#formEditable").fadeOut();
            $("#cardList").removeClass("col-md-12").addClass("col-md-7")
            $('#formEditTag button#submitTag').attr('data-id', "")
            $('#formEditTag input#newTag').val(0)
            $("#formEditTag").fadeIn(200)
            $('#newTag').focus()
        })

        //- Edit multi kolektor
        $('#editKolektor').click(function(e){
             e.preventDefault()

             $.ajax({
                url: '/customer/kolektor',
                method: 'POST',
                header: {
                    'Content-Type' : 'application/json'
                },
                success : function (items) {
                    let elmKolektor = '<option value="">Pilih Kolektor</option>'
                    items.map(key=> {
                        if (key._id.toString()===userId.toString()) {
                            elmKolektor+= `<option selected value='${key._id}'>${key.nama}</option>`
                        }
                        else {
                            elmKolektor+= `<option value='${key._id}'>${key.nama}</option>`
                        }
                    })

                    multiKol=true
                    $('#listKolektor').html(elmKolektor)
                    $("#formEditable").fadeOut();
                    $('#formEditTag').fadeOut();
                    $("#cardList").removeClass("col-md-12").addClass("col-md-7")
                    $('#formEditPic button#submitKolektor').attr('data-id', '')
                    $("#formEditPic").fadeIn(200)
                    //- refreshData();
                }
            })
        })

        tableCustomer = dataTable('#customerTable',{
            searching : false,
            url:`/customer/dataTable?tgl_awal=all&tgl_akhir=all&status=all&kolektor=all`,
            pageLength:100,
            columns,
            columnDefs
        });

        $('#searchRekapProd').click(function (e){
            e.preventDefault();
            var tgl_awal = $('#fTglAwal').val() || 'all'
            var tgl_akhir = $('#fTglAkhir').val() || 'all'
            var stsCustomer = $('#fStsCustomer').val();
            var searchName = $('#searchName').val()
            var kolektor = $('#fKolektor').val() || 'all'

            tableCustomer = dataTable('#customerTable',{
                searching : false,
                url : `/customer/dataTable?tgl_awal=${tgl_awal}&tgl_akhir=${tgl_akhir}&status=${stsCustomer}&nama=${searchName}&kolektor=${kolektor}`,
                pageLength:100,
                columns : columns,
                columnDefs: columnDefs,
            });
        })

        $('#formEditPic form').submit(function (){
            const selector = $(this)
            const customerId = $('#formEditPic button#submitKolektor').attr('data-id')
            const newKolektor = $('#formEditPic select#listKolektor').val()
            
            if (newKolektor==""){
                $.smallBox({
                    title: 'Peringantan',
                    content : "<i class='fa fa-clock-o'></i> <i>Maaf, Data Masih Belum Lengkap</i>",
                    color : "#C46A69",
                    iconSmall : "fa fa-times fa-1x fadeInRight animated",
                    timeout : 1000
                });
            }
            else {
                var params = multiKol ? {ids:selected}:{ids:[customerId]}
                const dataToSend = {
                    kolektorId:newKolektor,
                    ...params
                }

                $.ajax({
                    url : '/customer/update-kolektor',
                    method: 'POST',
                    header: {
                        'Content-Type' : 'application/json'
                    },
                    data : {
                        data: JSON.stringify(dataToSend)
                    },
                    beforeSend: function() {
                        selector.attr('disabled', true);
                        console.log('Loading...')
                    },
                    success : function (msg) {
                        selector.attr('disabled', false);
                        if (msg.status == 200) {
                            $.smallBox({
                                title: 'Success',
                                content : "<i class='fa fa-clock-o'></i> <i>Successfull</i>",
                                color : "#659265",
                                iconSmall : "fa fa-check fa-1x fadeInRight animated",
                                timeout : 1000
                            });
                            refreshData()
                            closeForm('#formEditPic');
                        } else {
                            $.smallBox({
                                title : "Peringatan",
                                content : `<i class='fa fa-clock-o'></i>${msg.message}<i></i>`,
                                color : "#C46A69",
                                iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                                timeout : 1000
                            });
                        }
                    },
                    error : function (xhr, ajaxOptions, thrownError) {
                        selector.attr('disabled', false);
                        $.smallBox({
                            title : "Peringatan",
                            content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
                            color : "#C46A69",
                            iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                            timeout : 1000
                        });
                    },
                })
            }

            return false 
        })

        $("#formEditTag form").submit(function() {
            const selector = $(this)
            const id = $('#formEditTag button#submitTag').attr('data-id')
            const new_tagihan = $('#formEditTag input#newTag').val()

            if (new_tagihan == "") {
                $.smallBox({
                    title: 'Peringantan',
                    content : "<i class='fa fa-clock-o'></i> <i>Maaf, Data Masih Belum Lengkap</i>",
                    color : "#C46A69",
                    iconSmall : "fa fa-times fa-1x fadeInRight animated",
                    timeout : 1000
                });
            } else {
                var params = multiTag? {idx:selected}:{idx:[id]}
                const dataToSend = {
                    tagihan:new_tagihan,
                    ...params
                }
                //- console.log({dataToSend})
                $.ajax({
                    url : '/customer/update-tagihan',
                    method: 'POST',
                    header: {
                        'Content-Type' : 'application/json'
                    },
                    data : {
                        data: JSON.stringify(dataToSend)
                    },
                    beforeSend: function() {
                        selector.attr('disabled', true);
                        console.log('Loading...')
                    },
                    success : function (msg) {
                        selector.attr('disabled', false);
                        multiTag=false
                        if (msg.status == 200) {
                            $.smallBox({
                                title: 'Success',
                                content : "<i class='fa fa-clock-o'></i> <i>Successfull</i>",
                                color : "#659265",
                                iconSmall : "fa fa-check fa-1x fadeInRight animated",
                                timeout : 1000
                            });
                            refreshData()
                            closeForm('#formEditTag');
                        } else {
                            $.smallBox({
                                title : "Peringatan",
                                content : `<i class='fa fa-clock-o'></i>${msg.message}<i></i>`,
                                color : "#C46A69",
                                iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                                timeout : 1000
                            });
                        }
                    },
                    error : function (xhr, ajaxOptions, thrownError) {
                        selector.attr('disabled', false);
                        $.smallBox({
                            title : "Peringatan",
                            content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
                            color : "#C46A69",
                            iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                            timeout : 1000
                        });
                    },
                })
            }

            return false 
        })

        $('#printTable').click(function (e){
            e.preventDefault()
            //- var tgl_awal = $('#fTglAwal').val() || 'all'
            //- var tgl_akhir = $('#fTglAkhir').val() || 'all'
            //- var stsCustomer = $('#fStsCustomer').val();
            //- var searchName = $('#searchName').val()
            //- var kolektor = $('#fKolektor').val() || 'all'

            //- let urlPreview = `/customer/list-preview?tgl_awal=${tgl_awal}&tgl_akhir=${tgl_akhir}&status=${stsCustomer}&nama=${searchName}&kolektor=${kolektor}`;
            $("#modalBig #modalDialog").load('/customer/list-preview');
            //- $("#modalBig #modalDialog").load(urlPreview);
            $('#modalBig').modal('show');
        })

        $('#splitPrint').click(function (e){
            e.preventDefault()
            if (selected.length>0) {
                printSplit=true
                $("#modalBig #modalDialog").load('/customer/list-preview');
                $('#modalBig').modal('show');
            }
            else {
                printSplit=false
                $.smallBox({
                    title : "Peringatan",
                    content : `<i class='fa fa-clock-o'></i>data belum ada yang dipilih<i></i>`,
                    color : "#C46A69",
                    iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                    timeout : 1000
                });
            }
        })
    })