include ../../partials/component.pug
div.row
    article.col-md-12#cardList
        div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
            header
                span.widget-icon
                    i.fa.fa-users
                h2 DAFTAR PELANGGAN
            div
                div(class = "jarviswidget-editbox")
                div(class = "widget-body no-padding")
                    div.col-lg-12(style="padding:10px;background-color:#eee;")
                        div(class = 'col-lg-2 col-sm-2 col-xs-2')
                            select.form-control#fStsCustomer
                                option(value="all") Status 
                                option(value="0") Aktif
                                option(value="1") Tidak Aktif 
                        div(class = 'col-lg-2 col-sm-2 col-xs-2')
                            input#fTglAwal(class = 'form-control datepicker' data-dateformat = "yy-mm-dd" placeholder = 'Tanggal')
                        div(class = 'col-lg-2 col-sm-2 col-xs-2')
                            input.form-control#searchName(type="text" placeholder ="Pencarian By Nama")
                        - if (isAdmin)
                            div(class = 'col-lg-2 col-sm-2 col-xs-2')
                                select.form-control#fKolektor
                                    option(value="all") Pilih Kolektor
                                    each k in kolektor 
                                        option(value=k._id) #{k.nama} 
                        div(class = 'col-lg-4 col-sm-4 col-xs-4')
                            button#searchRekapProd(class = 'btn btn-default pull-left' data-original-title = 'Pencarian' data-placement="bottom" rel="tooltip")
                                i(class="fa fa-fw fa-search")
                            button(class = 'btn btn-default pull-left' data-original-title = 'Tambah Pelanggan' data-placement="bottom" rel="tooltip" style = 'margin-left : 5px;' onClick = 'return addData();')
                                i(class="fa fa-fw fa-plus")
                            button(class = 'btn btn-default pull-left' data-original-title = 'Reset & Refresh' data-placement="bottom" rel="tooltip" style = 'margin-left : 5px;' onclick = "return refreshData();")
                                i(class="fa fa-fw fa-refresh")
                            button#printTable(class = 'btn btn-default pull-left' data-original-title = 'Cetak' data-placement="bottom" rel="tooltip" style = 'margin-left : 5px;')
                                i(class="fa fa-fw fa-print")
                    table(id = "customerTable" class = "table table-striped table-bordered table-hover" width = "100%")
                        thead
                            tr
                                th Action
                                th Pelanggan
                                th Perusahaan
                                th Alamat
                                th Tagihan
                                th(data-hide = 'phone,tablet') Tanggal Tagihan
                                th Status
    
    article.col-md-5(style="display: none;" data-action="edit")#formEditable
    article.col-md-5(style="display: none;" data-action="edit")#formEditPic
        div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
            header(role = 'heading')
                div.jarviswidget-ctrls
                    a(class = 'button-icon jarviswidget-toggle-btn' href = 'javascript:void(0);' rel = 'tooltip' data-placement = 'bottom' data-original-title = 'Tutup' onclick="return closeForm('#formEditTag');")#btnCloseForm
                        i.fa.fa-times
                span.widget-icon
                    i.fa.fa-pencil
                h2 Update Kolektor
            div
                div.jarviswidget-editbox
                div(class='widget-body no-padding')
                    form.form-horizontal
                        div.form-group
                            input#userId(type="hidden", name="_id").form-control
                        div.form-group
                            label(for = "inputNewTag").control-label.col-lg-3 Kolektor
                            div.col-lg-7
                                select.form-control#listKolektor
                                    option(value="") Pilih Kolektor
                        div.form-group
                            div.col-lg-7.col-lg-offset-3
                                button#submitKolektor(type="submit" class="btn btn-sm btn-primary")
                                    i.icon-save
                                    span  Simpan
                                button#batal(type="button" onclick="return closeForm('#formEditPic');" style="margin-left : 10px;" class="btn btn-outline-danger btn-sm")
                                    span Batal

    article.col-md-5(style="display: none;" data-action="edit")#formEditTag
        div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
            header(role = 'heading')
                div.jarviswidget-ctrls
                    a(class = 'button-icon jarviswidget-toggle-btn' href = 'javascript:void(0);' rel = 'tooltip' data-placement = 'bottom' data-original-title = 'Tutup' onclick="return closeForm('#formEditTag');")#btnCloseForm
                        i.fa.fa-times
                span.widget-icon
                    i.fa.fa-pencil
                h2 Update Tagihan
            div
                div.jarviswidget-editbox
                div(class='widget-body no-padding')
                    form.form-horizontal
                        div.form-group
                            input#userId(type="hidden", name="_id").form-control
                        div.form-group
                            label(for = "inputNewTag").control-label.col-lg-3 Tagihan
                            div.col-lg-7
                                input.form-control#newTag(type="text")
                        div.form-group
                            div.col-lg-7.col-lg-offset-3
                                button#submitTag(type="submit" class="btn btn-sm btn-primary")
                                    i.icon-save
                                    span  Simpan
                                button#batal(type="button" onclick="return closeForm('#formEditTag');" style="margin-left : 10px;" class="btn btn-outline-danger btn-sm")
                                    span Batal

    //- IFRAME CONTENT PRIVIEW
    iframe(id = "ifmcontentstoprint" style="height: 0px; width: 0px; position: absolute;")
script.
    pageSetUp();
    var tableCustomer

    function closeForm(selector) {
        $(selector).slideUp(200, function() {
        $('#reset').click()
        $("#cardList").removeClass("col-md-7").addClass("col-md-12");
            refreshData();
        });
    }

    function refreshData () {
        tableCustomer.ajax.reload(null, false);
    }

    function addData () {
        $("#formEditTag").fadeOut();
        $('#formEditPic').fadeOut();
        $("#cardList").removeClass("col-md-12").addClass("col-md-7");
        $("#formEditable").attr("data-action", "add").fadeIn(200);
        $("#formEditable").load('/customer/createForm/add');
        refreshData();
    }

    function getData (id) {
        $("#formEditTag").fadeOut();
        $('#formEditPic').fadeOut();
        $("#cardList").removeClass("col-md-12").addClass("col-md-7")
        $("#formEditable").attr("data-action", "edit").fadeIn(200)
        $("#formEditable").load(`/customer/createForm/edit?id=${id}`);
        refreshData();
    }

    function removeData (id) {
        var c = confirm('Are you sure want to delete this data ?')
        if (c) {
            $.ajax({
                url: '/customer/remove',
                method: 'POST',
                header: {
                    'Content-Type' : 'application/json'
                },
                data: {
                    id : id
                },
                success : function (msg) {
                    refreshData();
                    if (msg.status == 200) {
                        $.smallBox({
                            title: 'Success',
                            content : "<i class='fa fa-clock-o'></i> <i>Successfull</i>",
                            color : "#659265",
                            iconSmall : "fa fa-check fa-1x fadeInRight animated",
                            timeout : 1000
                        });
                    } else {
                    $.smallBox({
                    title : "Peringatan",
                    content : `<i class='fa fa-clock-o'></i>${msg.message}<i></i>`,
                    color : "#C46A69",
                    iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                    timeout : 1000
                    });
                    }
                },
                error : function (xhr, ajaxOptions, thrownError) {
                $.smallBox({
                title : "Peringatan",
                content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
                color : "#C46A69",
                iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                timeout : 1000
                });
                },
            })
        }
    }

    function updateTag(id, tagihan) {
        $("#formEditable").fadeOut();
        $('#formEditPic').fadeOut();
        $("#cardList").removeClass("col-md-12").addClass("col-md-7")
        $('#formEditTag button#submitTag').attr('data-id', id)
        $('#formEditTag input#newTag').val(tagihan)
        $("#formEditTag").fadeIn(200)
        $('#newTag').focus()
        refreshData();
    }

    function viewPic(customerId, userId) {
        $.ajax({
            url: '/customer/kolektor',
            method: 'POST',
            header: {
                'Content-Type' : 'application/json'
            },
            success : function (items) {
                let elmKolektor = '<option value="">Pilih Kolektor</option>'
                items.map(key=> {
                    if (key._id.toString()===userId.toString()) {
                        elmKolektor+= `<option selected value='${key._id}'>${key.nama}</option>`
                    }
                    else {
                        elmKolektor+= `<option value='${key._id}'>${key.nama}</option>`
                    }
                })

                $('#listKolektor').html(elmKolektor)
                $("#formEditable").fadeOut();
                $('#formEditTag').fadeOut();
                $("#cardList").removeClass("col-md-12").addClass("col-md-7")
                $('#formEditPic button#submitKolektor').attr('data-id', customerId)
                $("#formEditPic").fadeIn(200)
                refreshData();
            }
        })
    }

    /*
        PREVIEW STRUK
    */
    async function printPriview() {
        console.log('PRINT PREVIEW')
        let content = document.getElementById("contentView")

        //- / Create window object and print the data.
        let  newWin = window.open('', '', '');
        newWin.document.write(`<html><head><title>${document.title}</title>`)
        newWin.document.write(`
            <style>
                * {
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                }
                body {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    background-color: #FAFAFA;
                    font-family: sans-serif !important;
                }
                th, td {
                    padding-top: 10px;
                }
                .page {
                    width: 100%;
                    height: 8cm;
                    margin:10px;
                    background: white;
                }
                .subpage {
                    height: 8cm;
                    padding : 10px;
                }
                .text {
                    font-size : 13px !important;
                    font-weight: bold !important;
                }
                .text-bold {
                    font-size : 18px !important;
                    font-weight: bold !important;
                }
                .text-box{
                    font-size : 18px !important;
                    font-weight:bold !important;
                }
                .text-nota {
                    font-size : 18px !important;
                }
                @page {
                    size: auto;
                    margin: 0mm;
                }
                @media print {
                    html, body {
                        width: 100%;
                        margin : 0;
                        padding: 0;
                        font-family: sans-serif !important;
                    }
                    .page {
                        width: 100%;
                        height: 8cm;
                        background: white;
                        margin:10px;
                        break-before: always;
                    }
                    .subpage {
                        padding : 10px;
                    }
                    .text {
                        font-size : 13px !important;
                        font-weight: bold !important;
                    }
                    .text-bold {
                        font-size : 18px !important;
                        font-weight: bold !important;
                    }
                    .text-box{
                        font-size : 18px !important;
                        font-weight:bold !important;
                    }
                    .text-nota {
                        font-size : 18px !important;
                    }
                }
            </style>
        `)
        newWin.document.write(content.innerHTML);
        newWin.document.write('</html>')
        await new Promise(r => setTimeout(r, 500));
        newWin.print();
        newWin.close();
        return false;
    }

    $(function () {
        $('.datepicker').datepicker({
            defaultDate : new Date(),
            dateFormat : 'yy-mm-dd'
        });

        tableCustomer = dataTable('#customerTable',{
            searching : false,
            url : '/customer/dataTable?tgl_awal=all&tgl_akhir=all&status=all&kolektor=all',
            columns : [
                {
                    "data" : "action",
                },{
                    "data" : "customer"
                },{
                    "data" : "company_name"
                },{
                    "data" : "alamat"
                },{
                    "data" : "tagihan"
                },{
                    "data" : "billing_date"
                },{
                    "data" : "status"
                }
            ],
            columnDefs: [
                { width: "10%", targets: 0 },
                { width: "20%", targets: 1 },
                { width: "20%", targets: 2 },
                { width: "20%", targets: 3 },
                { width: "20%", targets: 4 },
                { width: "20%", targets: 5 },
                { width: "20%", targets: 6 },
            ],
        });

        $('#searchRekapProd').click(function (e){
            e.preventDefault();
            var tgl_awal = $('#fTglAwal').val() || 'all'
            var tgl_akhir = $('#fTglAkhir').val() || 'all'
            var stsCustomer = $('#fStsCustomer').val();
            var searchName = $('#searchName').val()
            var kolektor = $('#fKolektor').val() || 'all'

            tableCustomer = dataTable('#customerTable',{
                searching : false,
                url : `/customer/dataTable?tgl_awal=${tgl_awal}&tgl_akhir=${tgl_akhir}&status=${stsCustomer}&nama=${searchName}&kolektor=${kolektor}`,
                columns : [
                    {
                        "data" : "action",
                    },{
                        "data" : "customer"
                    },{
                        "data" : "company_name"
                    },{
                        "data" : "alamat"
                    },{
                        "data" : "tagihan"
                    },{
                        "data" : "billing_date"
                    },{
                        "data" : "status"
                    }
                ],
                columnDefs: [
                    { width: "10%", targets: 0 },
                    { width: "20%", targets: 1 },
                    { width: "20%", targets: 2 },
                    { width: "20%", targets: 3 },
                    { width: "20%", targets: 4 },
                    { width: "20%", targets: 5 },
                    { width: "20%", targets: 6 },
                ],
            });
        })

        $('#formEditPic form').submit(function (){
            const selector = $(this)
            const customerId = $('#formEditPic button#submitKolektor').attr('data-id')
            const newKolektor = $('#formEditPic select#listKolektor').val()
            
            if (newKolektor==""){
                $.smallBox({
                    title: 'Peringantan',
                    content : "<i class='fa fa-clock-o'></i> <i>Maaf, Data Masih Belum Lengkap</i>",
                    color : "#C46A69",
                    iconSmall : "fa fa-times fa-1x fadeInRight animated",
                    timeout : 1000
                });
            }
            else {
                $.ajax({
                    url : '/customer/update-kolektor',
                    method: 'POST',
                    header: {
                        'Content-Type' : 'application/json'
                    },
                    data : {
                        id : customerId,
                        userId : newKolektor
                    },
                    beforeSend: function() {
                        selector.attr('disabled', true);
                        console.log('Loading...')
                    },
                    success : function (msg) {
                        selector.attr('disabled', false);
                        if (msg.status == 200) {
                            $.smallBox({
                                title: 'Success',
                                content : "<i class='fa fa-clock-o'></i> <i>Successfull</i>",
                                color : "#659265",
                                iconSmall : "fa fa-check fa-1x fadeInRight animated",
                                timeout : 1000
                            });
                            refreshData()
                            closeForm('#formEditPic');
                        } else {
                            $.smallBox({
                                title : "Peringatan",
                                content : `<i class='fa fa-clock-o'></i>${msg.message}<i></i>`,
                                color : "#C46A69",
                                iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                                timeout : 1000
                            });
                        }
                    },
                    error : function (xhr, ajaxOptions, thrownError) {
                        selector.attr('disabled', false);
                        $.smallBox({
                            title : "Peringatan",
                            content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
                            color : "#C46A69",
                            iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                            timeout : 1000
                        });
                    },
                })
            }

            return false 
        })

        $("#formEditTag form").submit(function() {
            const selector = $(this)
            const id = $('#formEditTag button#submitTag').attr('data-id')
            const new_tagihan = $('#formEditTag input#newTag').val()

            if (new_tagihan == "") {
                $.smallBox({
                    title: 'Peringantan',
                    content : "<i class='fa fa-clock-o'></i> <i>Maaf, Data Masih Belum Lengkap</i>",
                    color : "#C46A69",
                    iconSmall : "fa fa-times fa-1x fadeInRight animated",
                    timeout : 1000
                });
            } else {
                $.ajax({
                    url : '/customer/update-tagihan',
                    method: 'POST',
                    header: {
                        'Content-Type' : 'application/json'
                    },
                    data : {
                        id : id,
                        tagihan : new_tagihan
                    },
                    beforeSend: function() {
                        selector.attr('disabled', true);
                        console.log('Loading...')
                    },
                    success : function (msg) {
                        selector.attr('disabled', false);
                        if (msg.status == 200) {
                            $.smallBox({
                                title: 'Success',
                                content : "<i class='fa fa-clock-o'></i> <i>Successfull</i>",
                                color : "#659265",
                                iconSmall : "fa fa-check fa-1x fadeInRight animated",
                                timeout : 1000
                            });
                            refreshData()
                            closeForm('#formEditTag');
                        } else {
                            $.smallBox({
                                title : "Peringatan",
                                content : `<i class='fa fa-clock-o'></i>${msg.message}<i></i>`,
                                color : "#C46A69",
                                iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                                timeout : 1000
                            });
                        }
                    },
                    error : function (xhr, ajaxOptions, thrownError) {
                        selector.attr('disabled', false);
                        $.smallBox({
                            title : "Peringatan",
                            content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
                            color : "#C46A69",
                            iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                            timeout : 1000
                        });
                    },
                })
            }

            return false 
        })

        $('#printTable').click(function (e){
            e.preventDefault()
            //- var tgl_awal = $('#fTglAwal').val() || 'all'
            //- var tgl_akhir = $('#fTglAkhir').val() || 'all'
            //- var stsCustomer = $('#fStsCustomer').val();
            //- var searchName = $('#searchName').val()
            //- var kolektor = $('#fKolektor').val() || 'all'

            //- let urlPreview = `/customer/list-preview?tgl_awal=${tgl_awal}&tgl_akhir=${tgl_akhir}&status=${stsCustomer}&nama=${searchName}&kolektor=${kolektor}`;
            $("#modalBig #modalDialog").load('/customer/list-preview');
            //- $("#modalBig #modalDialog").load(urlPreview);
            $('#modalBig').modal('show');
        })
    })