div.container-fluid#container
	br
	div.row
		div.col-lg-12
			br
			div(style = "height : 300px;overflow:scroll;")
				table.table.table-bordered
					thead
						tr
							th No. Order
							th Transaksi
							th Pemesan
							th Tanggal Order
							th Tagihan
							th
					tbody#tbodyCari
						each x, idx in datas
							tr
								td 
									center #{x.no_order}
								td 
									center
										small #{x.jenis==2?'JASA BARANG':'JASA'}
								td #{x.customer&&x.customer.nama?x.customer.nama:'-'}
								td #{x.tgl_order}
								td #{x.tagihan}
								td
									center
										button(data-id = x._id class = "btn btn-xs btn-success" data-obj = JSON.stringify(x) onClick = 'chooseFaktur(this)')
											i.fa.fa-check

script.
	pageSetUp();

	function chooseFaktur(selector) {
		var params = $(selector).attr('data-obj');
		params = params?JSON.parse(params):null;
		console.log('[PARAMS] ', params);

		$('#noOrder').val(params.no_order);
		$('#tagihanOrder').val( params.jenis==2?params.total_jual:params.biaya_jasa);
		$('form#formInvoice').attr('data-id' , params._id);
		$('form#formInvoice').attr('data-type' , params.jenis==2?1:2);
		$(".close").click();
	}