div.row
	article.col-md-12
		div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
			header
				span.widget-icon
					i.fa.fa-list
				h2 LAPORAN PERSEDIAAN BARANG PECAHAN
			div
				div(class = "jarviswidget-editbox")
				div(class = "widget-body no-padding")
					div.col-lg-12(style="padding:10px;background-color:#eee;")
						div(class = 'col-lg-2 col-sm-2 col-xs-2')
							select.form-control#selectCategory
								option(value = 'all') Pilih Kategori
								each c in categories
									option(value=c._id) #{c.nama}
						button#searchLap(class = 'btn btn-default pull-left' data-original-title = 'Pencarian' data-placement="bottom" rel="tooltip")
							i(class="fa fa-fw fa-search")
						button(class = 'btn btn-default pull-left' data-original-title = 'Reset & Refresh' data-placement="bottom" rel="tooltip" onclick = "return refreshData();" style = 'margin-left : 10px;')
							i(class="fa fa-fw fa-refresh")
						button#printTable(class = 'btn btn-default pull-left' data-original-title = 'Cetak' data-placement="bottom" rel="tooltip" style = 'margin-left : 10px;')
							i(class="fa fa-fw fa-print")
						button#downloadFile(class = 'btn btn-default pull-left' data-original-title = 'Download' data-placement="bottom" rel="tooltip" style = 'margin-left : 10px;')
							i(class="fa fa-fw fa-download")
					table(id = "lapBarangPecahTable" class = "table table-striped table-bordered table-hover" width = "100%")
						thead
							tr
								td(align = 'center') #
								th Barang
								th Tebal
								th Stok
								th Ukuran
								th(width = '14%' ata-hide = 'phone,tablet') Kategori

	//- IFRAME CONTENT PRIVIEW
	iframe(id = "ifmcontentstoprint" style="height: 0px; width: 0px; position: absolute;")
script.
	pageSetUp();
	var tableLapBarangPecah;

	function refreshData () {
		tableLapBarangPecah.ajax.reload(null, false);
	}

	/*
	PREVIEW STRUK
	*/
	function printPriview() {
		console.log('PRINT PREVIEW')
		let content = document.getElementById("content-cetak");
		let pri = document.getElementById("ifmcontentstoprint").contentWindow;
		pri.document.open();
		pri.document.write(content.innerHTML);
		pri.document.close();
		pri.focus();
		pri.print();
		return false;
	}

	$(function (){
		$('#downloadFile').click(function (e) {
			e.preventDefault();
			var category = $('#selectCategory').val();
			var supplier = $('#selectSupplier').val();

			let urlDownload = `/laporan/detail/persediaan-pecah/download?category=${category}`;
			window.open(urlDownload, '_blank');
		});

		$('#printTable').click(function (e) {
			e.preventDefault();
			var category = $('#selectCategory').val();
			var supplier = $('#selectSupplier').val();
			
			let urlPreview = `/laporan/detail/persediaan-pecah/preview?category=${category}`;
			$("#modalBig #content-cetak").load(urlPreview);
			$('#modalBig').modal('show');
		});

		tableLapBarangPecah = dataTable('#lapBarangPecahTable',{
			searching : false,
			url : `/laporan/detail/persediaan-pecah/dataTableDetail?category=all`,
			columns : [
				{
					"data" : "no",
				},{
					"data" : "barang"
				},{
					"data" : "tebal"
				},{
					"data" : "stock"
				},{
					"data" : "ukuran"
				},{
					"data" : "category"
				}
			],
			columnDefs: [
				{ width: "5%", targets: 0 },
				{ width: "20%", targets: 1 },
				{ width: "15%", targets: 2 },
				{ width: "14%", targets: 3 },
				{ width: "10%", targets: 4 }
			],
		});

		$("#searchLap").click(function (e){
			e.preventDefault();
			var category = $('#selectCategory').val();

			tableLapBarangPecah = dataTable('#lapBarangPecahTable',{
				searching : false,
				url : `/laporan/detail/persediaan-pecah/dataTableDetail?category=${category}`,
				columns : [
					{
						"data" : "no",
					},{
						"data" : "barang"
					},{
						"data" : "tebal"
					},{
						"data" : "stock"
					},{
						"data" : "ukuran"
					},{
						"data" : "category"
					}
				],
				columnDefs: [
					{ width: "5%", targets: 0 },
					{ width: "20%", targets: 1 },
					{ width: "15%", targets: 2 },
					{ width: "14%", targets: 3 },
					{ width: "10%", targets: 4 }
				],
			});
		});
	});